<!DOCTYPE html>
<html lang="en-US" ng-app="michaelApp">
<head>
<!-- Angular CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!-- Angular Route CDN -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="assets/js/script.js"></script>
</head>
<body ng-controller="mainController">
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Michael Smith Portfolio</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#projects"><i class="fa fa-shield"></i> Projects</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="jumbotron text-center">
    <p>Name : <input type="text" ng-model="name"></p>
    <h1 ng-model="output">Hello {{name}}</h1>
  </div>

  <!-- MAIN CONTENT AND INJECTED VIEWS -->
  <div id="main">

    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ng-view></div>
  </div>

</body>
</html>
